//Primary Font Family
$font--url: "https://fonts.googleapis.com/css?family=Roboto";
$font--family: Roboto, "Helvetica Neue", sans-serif;

//Secondary Font Family
$font--family--secondary: "Helvetica Neue", sans-serif;

//Font Sizes
$font--size: 1.65rem;

//Base Colors

$white: #fff;
$black: #010;
$grey: #e3e2e7;

//UI Colors

$orange: #ff9f43; //Warning
$red: #ee5253; //Danger
$green: #1dd1a1;//Success
$blue: #2e86de;//Primary