.btn {
  display: inline-flex;
  display: -webkit-inline-flex;

  background: $white;
  color: $black;
  border: 1px solid $grey;
  font-weight: $font--weight-default;

  vertical-align: top;
  position: relative;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  outline: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  line-height: 1.5;
  cursor: pointer;
  padding: 1.2rem 2rem;
  font-size: $font--size;
  
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  border-radius: 0.5rem;
}

.btn--primary {
  background: #2e86de;
  color: #fff;
  border: none;
}

.btn--success {
  background: #1dd1a1;
  color: #fff;
  border: none;
}

.btn--danger {
  background: #ee5253;
  color: #fff;
  border: none;
}

.btn--warning {
  background: #ff9f43;
  color: #fff;
  border: none;
}

.btn--outlined {
  border: 1px solid $grey;
}

.btn--xl {
  padding: 1.3rem 3rem;
}

.btn--sm {
  padding: 1rem 1.6rem;
}

.btn--rounded {
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  border-radius: 1rem;
}

.btn--flat {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.btn--xl-rounded {
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  border-radius: 2rem;
}