.navbar {
  width: $nav-width;
  height: $nav-height;
  background: $nav-background;
  -webkit-box-shadow: $nav-box-shadow-1;
  -moz-box-shadow: $nav-box-shadow-1;
  box-shadow: $nav-box-shadow-1;
  justify-content: space-between;

  .nav-left, .nav-right {
    align-items: center;
    align-self: center;
    padding: $nav-padding;
    list-style: none;

    .toggle {
      width: auto;
      .burgerlines {
        width: 40px;
        height: 4.5px;
        background-color: getColor($grey-colors, 'darkGrey');
      }
    }

    h1 {
      font-size: 1.6rem;
      font-weight: $font--weight-bold;
    }

    li {
      padding: 0 1rem;
      
      a {
        color: getColor($black-colors, lightBlack);
        text-decoration: none;
      }
    }
  }
}

.navbar, .nav-left, .nav-right {
  display: flex;
  display: -webkit-flex;
}