* {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

/* Thanks to:
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   Reset CSS
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.columns {
  /* Row */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 1rem; }

.column {
  display: flex;
  flex-basis: 100%; }

@media screen and (min-width: 760px) {
  .column {
    flex: 1; }

  .is-1 {
    flex-basis: 8.33333%;
    max-width: 8.33333%; }

  .is-2 {
    flex-basis: 16.66667%;
    max-width: 16.66667%; }

  .is-3 {
    flex-basis: 25%;
    max-width: 25%; }

  .is-4 {
    flex-basis: 33.33333%;
    max-width: 33.33333%; }

  .is-5 {
    flex-basis: 41.66667%;
    max-width: 41.66667%; }

  .is-6 {
    flex-basis: 50%;
    max-width: 50%; }

  .is-7 {
    flex-basis: 58.33333%;
    max-width: 58.33333%; }

  .is-8 {
    flex-basis: 66.66667%;
    max-width: 66.66667%; }

  .is-9 {
    flex-basis: 75%;
    max-width: 75%; }

  .is-10 {
    flex-basis: 83.33333%;
    max-width: 83.33333%; }

  .is-11 {
    flex-basis: 91.66667%;
    max-width: 91.66667%; }

  .is-12 {
    flex-basis: 100%;
    max-width: 100%; } }
.btn {
  display: inline-flex;
  display: -webkit-inline-flex;
  background: #fff;
  color: #010;
  border: 1px solid #e3e2e7;
  font-weight: 400;
  vertical-align: top;
  position: relative;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  line-height: 1.5;
  cursor: pointer;
  padding: 1.2rem 2rem;
  font-size: 1.65rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  border-radius: 0.5rem; }

.btn--primary {
  background: #2e86de;
  color: #fff;
  border: none; }

.btn--success {
  background: #1dd1a1;
  color: #fff;
  border: none; }

.btn--danger {
  background: #ee5253;
  color: #fff;
  border: none; }

.btn--warning {
  background: #ff9f43;
  color: #fff;
  border: none; }

.btn--outlined {
  border: 1px solid #e3e2e7; }

.btn--xl {
  padding: 1.3rem 3rem; }

.btn--sm {
  padding: 1rem 1.6rem; }

.btn--rounded {
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  border-radius: 1rem; }

.btn--flat {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0; }

.btn--xl-rounded {
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  border-radius: 2rem; }

.info {
  display: inline-flex;
  padding: 1.5rem;
  background-color: #fff;
  border: 1px solid #e2e1e6;
  color: #010;
  font-size: 1.65rem;
  -webkit-border-radius: 0.7rem;
  -moz-border-radius: 0.7rem;
  border-radius: 0.7rem;
  max-width: 98%;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  height: auto;
  flex-wrap: wrap; }

.info--primary {
  background: #2e86de;
  border: none;
  color: #fff; }

.info--success {
  background: #1dd1a1;
  border: none;
  color: #fff; }

.info--warning {
  background: #ff9f43;
  border: none;
  color: #fff; }

.info--danger {
  background: #ee5253;
  border: none;
  color: #fff; }

.info--bordered {
  border: 1px solid #e3e2e7; }

/*# sourceMappingURL=app.css.map */
